.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}

.gridItem {
    display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}