/* src/components/ContributorCard.module.css */
.card {
  background: var(--ifm-card-background-color);
  border-radius: var(--ifm-radius-lg);
  padding: 1.5rem;
  text-align: center;
  box-shadow: var(--ifm-shadow-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.name {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.description {
  color: var(--ifm-color-gray-600);
  margin-bottom: 1rem;
}

.cardContent {
  flex-grow: 1;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.socials a {
  text-decoration: none;
  font-weight: 500;
}
